<div class="float-left">
    <%= form_tag(posts_path, method: "get", remote: true, :class => "form-inline") do  %>
        <%= text_field_tag :q, params[:q], placeholder:"Search a Post", :class =>"form-control" %>
        <%= submit_tag "Buscar", class:"btn btn-primary"%>
    <% end %>
</div>