<p id="notice"><%= notice %></p>



<h1 class= 'my-3 display-3' >Posts</h1>
<h4 class= 'my-2'>Search Post</h4>
<%= render('posts/search') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody id="data">
      <%= render('posts/data') %>
  </tbody>
</table>

<button type="button" class="btn btn-success my-2"><%= link_to 'New Post', new_post_path, remote: true %></button>
<div id='newPost'></div>

<br>

<h1 class="display-4">Show Posts Js ↓</h1>
<div id="showData"></div>



